  body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background: #f4f4f4; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
  }

    header, footer { 
      background-color: #1bbc9b; 
      color: white; 
      padding: 10px 20px; 
      text-align: center; 
      height: 140px;
    }

   

    nav { 
        background-color: #15623e; 
        overflow: hidden; 
        padding-left: 10%;
      }

    nav a { 
      float: left; 
      display: block; 
      color: white; 
      text-align: center; 
      padding: 14px 16px; 
      text-decoration: none;
    }

    nav a:hover { 
      background-color: #ddd; 
      color: black; 
    }

    main { 
      padding: 20px; 
      max-width: 1000px; 
      margin: auto; 
      background: white; 
      flex: 1; 
    }

    h2, h3 { 
      color: #333; 
    }

    ul { 
      list-style: disc; 
      margin-left: 20px; 
    }
 
    .social-links a {
      margin: 0 10px;
      text-decoration: none;
      color: white;
    }
    .img-tabla-fase5 {
      max-width: 100%;
      border: 1px solid #ccc;
    }
    .img-diagrama-gantt {
      max-width: 100%;
      border: 1px solid #ccc;
    }
    .carousel-container { 
      text-align: center; 
      position: relative; 
      max-width: 800px; 
      margin: 20px auto; 
    }

    .carousel-container img { 
      width: 100%; 
      height: auto; 
      display: none; 
      transition: opacity 0.5s ease-in-out; 
    }

    .carousel-container img.active { 
      display: block; 
    }

    .controls { 
      margin-top: 10px;
    }

    .controls button { 
      padding: 10px 20px; 
      margin: 5px; 
      cursor: pointer; 
    }

    .social-links a { 
      margin: 0 10px; 
      text-decoration: none; 
      color: white; 
    }
    

.video-container { 
width: 838px;
  height: 393px;
  margin-bottom: 23px;
  border-left-width: 0px;
  border-left-style: solid;
  margin-left: 41px;
  padding-left: 52px;
}

.video-controls { 
  margin-top: 10px; 
}

.video-controls button {
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
}

.texto {
  width: 650px;
  padding-bottom: 0px;
  margin-bottom: 16px;
  height: 84px;
  border-top-width: 0px;
  border-top-style: solid;
  margin-top: 0px;
}

.social-links {
  text-align: center;
  margin: 10px 0;
}

.social-links span {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}


.social-button {
  cursor: pointer;
  font-size: large;
  font-family: inherit;
  font-weight: bold;
  color: #0011ff;
  background-color: #06069b;
  padding: -1.1em 2.2em;
  border-radius: 40em;
  border: 6px solid #8b93f8;
  box-shadow: 0px 8px #1f35ff;
  padding-left: 3px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.social-button:active {
  position: relative;
  top: 8px;
  border: 6px solid #646fff;
  box-shadow: 0px 0px;
}
